/* 
Hex Colors 
maroon pink: #D0224F
light blue: #00DDED
blackish: #171F28
white: #fff
*/

#profileContainer {
  margin: 30px;
}
#userProfile {
  flex: 3;
  padding: 30px;
}
#favoritesArea {
  flex: 7;
  padding: 30px;
}
#profilePic {
  justify-content: center;
}
#profilePic > img {
  max-width: 100%;
}
#username {
  justify-content: center;
  margin: 15px;
}


.container {
  max-width: 1335px;
  height: 100%;
  background-color: rgba(23, 31, 40, 0.2);
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 100%;
}
.grid-item {
  text-align: center;
  flex-basis: 20%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  max-height: 330px;
  max-width: 180px;
  /* min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* Images Styling */
#card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
#card > img {
  max-width: 100%;
  border: 2px solid #D0224F;
  border-bottom: none;
}
.name {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border: 2px solid #D0224F;
  background-color: #D0224F;
}
.favorites {
  position: absolute;
  top: 8px;
  /* top: 38px; */
  right: 16px;
  margin: 18px 8px;
  text-decoration: none;
  color: #D0224F;
}

.favorites:hover > .filled {
  display: block;
}
.favorites:hover > .unfilled {
  display: none;
}
.filled {
  display: none;
}